[submodule "vendor/hpdcache"]
	path = vendor/hpdcache
	url = https://github.com/openhwgroup/cv-hpdcache.git
[submodule "vendor/ultraembedded_riscv"]
	path = vendor/ultraembedded_riscv
	url = https://github.com/ultraembedded/riscv.git
